@import "tailwindcss";



@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-border: var(--border-color);
  --color-background-secondary: var(--background-secondary);
  --font-sans: var(--font-inter);     /* Inter используется везде по умолчанию */
  --font-heading: var(--font-manrope);/* Кастомный класс для заголовков */
}

:root {
  --background: #dbd9d3;      /* белый в HSL */
  --foreground: #2d2e2b;   /* тёмно-серый */
  --background-secondary: #f2eeee ;
  --border-color: #a48159; 
}

.dark {
  --background: #2d2e2b;    
  --foreground: #dbd9d3;   
  --background-secondary: #151515; 
}

body {
  background-color: var(--background-secondary);
  color: var(--foreground);
  transition: background-color 0.3s, color 0.3s;
  font-family: var(--font-sans);   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Стили для свайпера */
/* .promo-carousel .swiper-button-next,
.promo-carousel .swiper-button-prev {
  color: var(--border-color); ваш акцентный цвет */
  /* background-color: rgba(255,255,255,0.8);
  width: 36px;
  height: 36px;
  border-radius: 9999px;
  backdrop-filter: blur(4px);
}
.promo-carousel .swiper-button-next::after,
.promo-carousel .swiper-button-prev::after {
  font-size: 18px;
}
.promo-carousel .swiper-pagination-bullet-active {
  background-color: var(--border-color);
} */

.promo-carousel .swiper-button-next,
.promo-carousel .swiper-button-prev {
  color: white;
  background: rgba(0,0,0,0.4);
  width: 44px;
  height: 44px;
  border-radius: 9999px;
  backdrop-filter: blur(4px);
  transition: all 0.2s;
}
.promo-carousel .swiper-button-next:hover,
.promo-carousel .swiper-button-prev:hover {
  background: rgba(0,0,0,0.7);
}
.promo-carousel .swiper-button-next:after,
.promo-carousel .swiper-button-prev:after {
  font-size: 20px;
}
.promo-carousel .swiper-pagination-bullet-active {
  background: #a48159;
}