@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: 0 0% 100%;      /* белый в HSL */
  --foreground: 222 84% 4.9%;   /* тёмно-серый */
}

.dark {
  --background: 222 47% 11%;    /* тёмно-синий */
  --foreground: 210 40% 98%;    /* почти белый */
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  transition: background-color 0.3s, color 0.3s;
}